<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/l0IyporbLKSE81CuI/giphy.gif);">
  <div class="container">
    <h1>The Art of Cocktail</h1>
    <p>Elegance in every sip</p>
    <a class="btn btn-primary" href="#">Make Your Drink</a>
  </div>
</div>
<h2>A place to discover and create the finest recipies of cocktails and mocktails.</h2>
<!-- <p>Find me in app/views/cocktails/index.html.erb</p> -->
<section>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <% if cocktail.photo.attached? %> <%= cl_image_path cocktail.photo.key %> <% else %> https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg <% end %>)">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
     <% end %>
  </div>
</section>






<%= link_to 'New Cocktail', new_cocktail_path, {:class=>"btn btn-primary"} %>
