<div class="">
  <div class="form-container">
    <%= render 'form', cocktail: @cocktail %>
  </div>
</div>

<div class="center", style="margin-top: 60px">
  <%= link_to "Back", root_path, class: "btn btn-ghost" %>
</div>
