// Specific CSS for your home-page

// section {
//   padding: 0px 40px
// }
h2 {
    padding: 44px;
    font-size: 20px;
    line-height: 32px;
    color: #222222;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
}

a:hover {
  text-decoration: none;
}
